<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">

</head>
<body>
    <div id="bigcolumn">

        <div class="half-column">

            
            <h1 class="titulo">Friendships:</h1>
            
            <table id="customers">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Friend</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for row in friendships %}
                    <tr>
                        <td>{{row['User']}}</td>
                        <td>{{row['Friend']}}</td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
                
                
            </table>
        </div>
        
        
        
        <div class="half-column">
            <h1 class="titulo">Add User</h1>

            <form action="/add_user" method="post">
                <label for="fname">First Name:</label>
                <input type="text" name="fname">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname">
                <input type="submit" value="Add User">
            </form>

            <h1 class="titulo">Create Friendship</h1>

            <form action="/add_friendship" method="post">
                <label for="user">User:</label>
                <select name="user" >
                    {% for user in users %}
                    <option value="{{user['id']}}">{{user['name']}}</option>
                    {% endfor %}
                </select>

                <label for="friend">Friend:</label>
                <select name="friend" >
                    {% for user in users %}
                    <option value="{{user['id']}}">{{user['name']}}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Create">

            </form>

        </div>
    </div>
        
    </body>
    </html>