<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='success.css') }}">

</head>
<body>
    <header>
        <h1>Coding Dojo Wall</h1>
        <div class="flexbox">
            <h4>Welcome {{usuarioLogeado[0]['first_name']}}!</h4> 
            <a href="/logout">Log out</a>
        </div>
    </header>

    <div id="bigcolumn">

        <div class="halfcolumn">
            <h2 class="titulo">{{count_to}} Message(s) for you:</h2>
            {%for message in messages%}
            <div class="mensaje">
                <h3>{{message['name']}} dice: ({{message['time']}} secs ago)</h3>
                <p>{{message['message']}}</p>
                <a id="deleteanchor" href="/delete_message/{{message['id']}}">delete</a>
            </div>
            {%endfor%}
        </div>

        <div class="halfcolumn">
            <h2 class="titulo">Send Messages:</h2>
            <h4 style="color: black;">you have sent {{count_from}} message(s) so far.</h4>

            {%for user in otherusers%}
            <form action="/add_message/{{user['id']}}" method="post">
                <label for="content">{{user['name']}}</label>
                <input type="text" name="content">
                <input type="hidden" name="from_id" value="{{usuarioLogeado[0]['id']}}">
                <input type="submit" value="Send Message">
            </form>
            {%endfor%}

        </div>
    </div>
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    {%for message in messages%}
    <p style="text-align:center ; color:red">{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
</body>
</html>